h4 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  font-weight: 600;
  font-family: 'matter', sans-serif;
}

@media screen and (max-width: 1024px) {
  h4 {
      font-size: 1.75rem; /* 28px */
      line-height: 2.5rem; /* 40px */
  }
}

@media screen and (max-width: 699px) {
  h4 {
      font-size: 1.75rem; /* 28px */
      line-height: 2.25rem; /* 36px */
  }
}

h5 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 600;
  /* font-family: 'matter', sans-serif; */
}

@media screen and (max-width: 699px) {
  h5 {
      font-size: 1.25rem; /* 20px */
      line-height: 1.75rem; /* 28px */
  }
}


h6 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  /* font-family: 'matter', sans-serif; */
}
.author-data {
  display: block;
}
.author-data-title {
  margin-bottom: 1.5rem;
}
.authors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1.25rem;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1rem;
}

.author-identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-name {
  font-size: 1.5rem;
  line-height: 2rem;
}

.author-data-divider {
  border: 0.5px solid #cccccc;
  margin: 2rem 0;
}
.author-data-actions {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.author-data-action {
  display: flex;
  flex-direction: column;
  row-gap: 0.8125rem;
  justify-content: flex-start;
  align-items: center;
}

.blog-info {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}
.blog-tag {
  padding: 0.375rem 1.25rem;
  color: #4071df;
  background-color: #dfe7ff;
  border-radius: 40px;
  overflow: hidden;
}
.blog-read-time {
  color: #1a1a1a;
}
.blog-info-divider {
  height: 3.25rem;
  width: 0;
  border: 1.5px solid #d9d9d9;
}
.blog-title {
  margin: 2.5rem auto;
  width: 100%;
}
.blog-xpress-title {
  margin: 1.5rem auto;
  width: 100%;
}
.blog-divider {
  margin: 2.5rem auto;
  height: 0;
  width: 100%;
  border: 1px solid #eaeaea;
}

.blog-divide-xpress common-h3-heading {
  margin: 1.5rem auto;
  height: 0;
  width: 100%;
}

.blog-content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.blog-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.blog-section p span,
.blog-section ol li span {
  font-weight: 600;
}
.blog-section img {
  margin: 2rem auto;
}
.blog-section ul ::marker {
  font-size: 11px;
  line-height: 11px;
  color: #aaaaaa;
}

.blog-section ol {
  padding: 0 3%;
}
.all-blogs-link {
  color: #4071df;
  cursor: pointer;
  margin-bottom: 4.5rem;
}
.blog-recommendations {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.blog-section p a,
.blog-section ol li a {
  color: #4071df;
}
.blog-section p a:hover,
.blog-section ol li a:hover {
  cursor: pointer;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.tableInBlog table,
.tableInBlog td,
.tableInBlog th {
  border: 1px solid #1a1a1a;
  padding: 20px;
}
@media (max-width: 760px) {
  .authors {
    row-gap: 1.75rem;
  }
  .author-data-divider {
    margin: 3rem 0;
  }
  .author-data-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .author-name {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
  .author-designation {
    font-size: 0.875rem;
    line-height: 1.15rem;
  }
  .blog-info {
    column-gap: 1.125rem;
  }

  .blog-tag {
    border-radius: 20px;
  }

  .blog-recommendations {
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
    width: 100%;
  }
  .blog-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .blog-divider {
    margin: 20px 0;
  }
  .blog-dividerBottom {
    margin: 10px 0;
  }
  .blog-section h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .featured-blog-title {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .featured-blog-sub-title {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

    .tableInBlog td,
    .tableInBlog th {
      border: 1px solid #1a1a1a;
      padding: 15px;
      padding-right: 5px;
      font-size: 1rem;
    }

}



